<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Music Search</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='search.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
</head>
<body>
    
    <div id="phrase">What music can't you stop listening to?</div>
    <input type="text" id="search-input" placeholder="Search for music..." autocomplete="off">
    <div id="results" class="results"></div>

    <script src="{{ url_for('static', filename='searchscript.js') }}"></script>
</body>
</html>
